body, html{
    font-family: 'maison-neue', Calibri, 'Trebuchet MS', sans-serif;
}

.container-fluid{
    padding: 0;
}

.wrap{
    max-width: 1200px;
}

h2{
    @include media-breakpoint-down(sm){
        font-size: 1.5em;
    }
}

p{
    margin-bottom: 1em;

    &:last-child{
        margin-bottom: 0;
    }
}

a{
    color: inherit;
    text-decoration: underline;
}

img{
    max-width: 100%;
    height: auto;
}

.tag{
    text-transform: uppercase;
    white-space: nowrap;

    &:after{
        content: ' • ';
        color: $black;
    }

    &:last-child:after{
        content: none;
    }
}

.red{
    .categories{
        color: theme-color(red);
    }
}
.yellow{
    .categories{
    color: theme-color(yellow);
    }
}
.green{
    .categories{
    color: theme-color(green);
    }
}
.blue{
    .categories{
    color: theme-color(blue);
    }
}
.pink{
    .categories{
    color: theme-color(pink);
    }
}