body, html{
    font-family: 'maison-neue', Calibri, 'Trebuchet MS', sans-serif;
}

.container-fluid{
    padding: 0;
}

p{
    margin-bottom: 1em;

    &:last-child{
        margin-bottom: 0;
    }
}

a{
    color: inherit;
    text-decoration: underline;
}

.red{
    .categories{
        color: theme-color('red');
    }
}
.yellow{
    .categories{
    color: theme-color('yellow');
    }
}
.green{
    .categories{
    color: theme-color('green');
    }
}
.blue{
    .categories{
    color: theme-color('blue');
    }
}
.pink{
    .categories{
    color: theme-color('pink');
    }
}