/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  "yellow": #FFF010,
  "blue": #2C64EA,
  "pink": #EDC6C6,
  "red": #EA2C2C,
  "green": #3FB13B
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
