/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  "yellow": #FFF010,
  "blue": #2C64EA,
  "pink": #EDC6C6,
  "red": #EA2C2C,
  "green": #3FB13B
);

@font-face {
  font-family: 'maison-neue';
  src: url('../fonts/MaisonNeue-Mono.woff2') format('woff2'),
      url('../fonts/MaisonNeue-Mono.woff') format('woff'),
      url('../fonts/MaisonNeue-Mono.ttf') format('truetype'),
      url('../fonts/MaisonNeue-Mono.svg#MaisonNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
