
.banner{
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 99;

  .brand{
    display: block;
    transform: rotate(0deg);
    transition: .5s;

    &:hover{
      transform: rotate(180deg);
    }

    img{
      max-width: 100px;
    }
  }

  @include media-breakpoint-down(sm){
    padding: 10px;

    .brand{
      img{
        max-width: 60px;
      }
    }
  }

  .nav li {
    @extend .nav-item;
  }
}

.banner .nav a {
  @extend .nav-link;
}
