//Home
.home {
    #top {
        padding: 100px 50px 200px;
        margin-bottom: -150px;
        background-color: theme-color(yellow);
        font-size: 45px;

        .wrap{
            max-width: 1200px;
        }

        a{
            color: $black;
            text-decoration: underline;
            text-decoration-color: theme-color(blue);
            text-decoration-style: wavy;
            -webkit-text-decoration-skip: none;
            //transition: .3s;

            &:hover{
                color: theme-color(blue);
                text-decoration-color: $black;
            }
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter $grid-gutter-mobile 150px;
            font-size: 1.5em;
        }
    }

    #portfolio{
        position: relative;

        .grid-item,
        .grid-sizer{
            float: left;
            width: 25%;
            padding: $grid-gutter;

            h2{
                margin-bottom: 0;

                a{
                    text-decoration: none;
                }
            }

            img{
                margin-bottom: $grid-gutter-mobile;
            }

            &.featured{
                width: 50%;
            }

            @include media-breakpoint-down(sm){
                padding: $grid-gutter-mobile;
                width: 100%;

                &.featured{
                    width: 100%;
                }

                .illustration{
                    height: 250px;
                }
            }
        }
    }
}

//About
.page.about{
    #top, #clients{
        padding: 50px 20px;
        font-size: 35px;

        .wrap{
            max-width: 1200px;
        }
    }
    #top{
        background-color: theme-color(yellow);
    }

    #clients{
        background-color: theme-color(blue);
        color: $white;
    }

    @include media-breakpoint-down(sm){
        #top, #clients{
            padding: 20px;
            padding-right: 50px;
            font-size: 1.5em;
        }
    }
}


//Contact Footer
#contact{
    padding: 0;
    font-size: 30px;

    &> div{
        padding: $grid-gutter;

        @include media-breakpoint-down(sm){
            padding: 20px;
        }
    }

    .locationInfo{
        padding: $grid-gutter;
        text-align: center;
        display: flex;
        align-items: center;

        .cityBlock{
            margin-bottom: $grid-gutter;
            font-size: 1em;
        }

        #city{
            text-decoration: underline;
        }

        i{
            font-size: $grid-gutter;
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter-mobile;

            .cityBlock{
                margin-bottom: $grid-gutter;
                font-size: 1.3em;
            }
        }
    }

    .contactInfo{
        background-color: theme-color(yellow);
        display: flex;
        align-items: center;

        .email{
            font-size: 1.2em;
            margin-bottom: $grid-gutter;
        }

        a{
            display: block;
            color: $black;
            text-decoration: none;

            &:hover{
                color: $black;
                text-decoration: underline;
            }
        }    

        @include media-breakpoint-down(sm){
            .email{
                font-size: 1em;
                margin-bottom: $grid-gutter-mobile;
            }
        }
    }
}

@include media-breakpoint-down(sm){
    #contact{
        font-size: 20px;

        .locationInfo{
            i{
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }
}