//Home
.home {
    #top {
        padding: 100px $grid-gutter;
        margin-bottom: $grid-gutter;
        background-color: theme-color(yellow);
        font-size: 45px;

        a{
            color: theme-color(blue);
            display: inline-block;
            //border-bottom: 4px solid theme-color(blue);
            text-decoration: none;
            padding-bottom: 0;
            line-height: 1em;

            &:hover{
                color: theme-color(red);
                border-bottom-color: $black;
            }
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter * 2 $grid-gutter-mobile $grid-gutter;
            font-size: 1.5em;
        }
    }

    #portfolio{
        position: relative;
        padding: 0 $grid-gutter / 2;

        .grid-item,
        .grid-sizer{
            float: left;
            width: 33.33%;
            padding: $grid-gutter / 2;

            h2{
                display: inline;

                a{
                    text-decoration: none;
                }
            }

            .grid-image{
                display: inline-block;
                margin-bottom: $grid-gutter-mobile;

                .image{
                    overflow: hidden;
                }
                
                img{
                    transition: .3s;
                }
            }

            &.featured{
                width: 66.66%;
            }

            &:hover{
                h2{
                    background-color: theme-color(yellow);
                }
            }

            @include media-breakpoint-down(sm){
                padding: 0;
                margin-bottom: $grid-gutter;
                width: 100%;

                .grid-image{
                    margin-bottom: 10px;
                }

                &.featured{
                    width: 100%;
                }
            }
        }
    }
}

//About
.page.about{
    #top, #clients{
        padding: 50px 20px;
        font-size: 35px;

        .wrap{
            max-width: 1200px;
        }
    }

    #top{
        background-color: theme-color(yellow);

        .sharon, 
        .francois{
            white-space: nowrap;
            display: inline-block;
            line-height: 1em;
            border-bottom: 4px solid theme-color(blue);
            cursor: pointer;
        }

        .photos{
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events:none;

            .sharon, 
            .francois{
                display: none;
                max-width: 600px;

                &.active{
                    display: block;
                }
            }
        }
    }

    #clients{
        background-color: theme-color(blue);
        color: $white;
    }

    @include media-breakpoint-down(sm){
        #top, #clients{
            padding: 20px;
            padding-right: 50px;
            font-size: 1.5em;
        }
    }
}


//Contact Footer
#contact{
    padding: 0;
    font-size: 30px;

    &> div{
        padding: $grid-gutter;

        @include media-breakpoint-down(sm){
            padding: 20px;
        }
    }

    .locationInfo{
        padding: $grid-gutter;
        text-align: center;
        display: flex;
        align-items: center;
        background: theme-color(black);
        color: theme-color(white); 

        .cityBlock{
            margin-bottom: $grid-gutter;
            font-size: 1em;
        }

        #city{
            text-decoration: underline;
        }

        i{
            font-size: $grid-gutter;
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter-mobile;

            .cityBlock{
                margin-bottom: $grid-gutter;
                font-size: 1.3em;
            }
        }
    }

    .contactInfo{
        background-color: theme-color(yellow);
        display: flex;
        align-items: center;

        .email{
            font-size: 1.2em;
            margin-bottom: $grid-gutter;
        }

        a{
            display: block;
            color: $black;
            text-decoration: none;

            &:hover{
                color: $black;
                text-decoration: underline;
            }
        }    

        @include media-breakpoint-down(sm){
            .email{
                font-size: 1em;
                margin-bottom: $grid-gutter-mobile;
            }
        }
    }
}

@include media-breakpoint-down(sm){
    #contact{
        font-size: 20px;

        .locationInfo{
            i{
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }
}