//Home
.home {
    #top {
        padding: 100px 50px;
        margin-bottom: $grid-gutter;
        background-color: theme-color(yellow);
        font-size: 45px;

        .wrap{
            max-width: 1200px;
        }

        a{
            color: $black;
            display: inline-block;
            border-bottom: 4px solid theme-color(blue);
            text-decoration: none;
            padding-bottom: 0;
            line-height: 1em;
            //text-decoration: underline;
            //text-decoration-color: theme-color(blue);
            //text-decoration-style: wavy;
            //-webkit-text-decoration-skip: none;
            //transition: .3s;

            &:hover{
                color: theme-color(blue);
                border-bottom-color: $black;
            }
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter $grid-gutter-mobile 150px;
            font-size: 1.5em;
        }
    }

    #portfolio{
        position: relative;

        .grid-item,
        .grid-sizer{
            float: left;
            width: 33.33%;
            padding: $grid-gutter;

            h2{
                margin-bottom: 0;

                a{
                    text-decoration: none;
                }
            }

            .grid-image{
                display: inline-block;
                background-color: theme-color(yellow);
                margin-bottom: $grid-gutter-mobile;
                
                img{
                    transition: opacity .3s;
                }

                &:hover{
                    img{
                        opacity: .8;
                    }
                }
            }

            &.featured{
                width: 66.66%;
            }

            @include media-breakpoint-down(sm){
                padding: $grid-gutter-mobile;
                width: 100%;

                &.featured{
                    width: 100%;
                }

                .illustration{
                    height: 250px;
                }
            }
        }
    }
}

//About
.page.about{
    #top, #clients{
        padding: 50px 20px;
        font-size: 35px;

        .wrap{
            max-width: 1200px;
        }
    }

    #top{
        background-color: theme-color(yellow);

        .sharon, 
        .francois{
            white-space: nowrap;
            display: inline-block;
            line-height: 1em;
            border-bottom: 4px solid theme-color(blue);
            cursor: pointer;
        }

        .photos{
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events:none;

            .sharon, 
            .francois{
                display: none;

                &.active{
                    display: block;
                }
            }
        }
    }

    #clients{
        background-color: theme-color(blue);
        color: $white;
    }

    @include media-breakpoint-down(sm){
        #top, #clients{
            padding: 20px;
            padding-right: 50px;
            font-size: 1.5em;
        }
    }
}


//Contact Footer
#contact{
    padding: 0;
    font-size: 30px;

    &> div{
        padding: $grid-gutter;

        @include media-breakpoint-down(sm){
            padding: 20px;
        }
    }

    .locationInfo{
        padding: $grid-gutter;
        text-align: center;
        display: flex;
        align-items: center;

        .cityBlock{
            margin-bottom: $grid-gutter;
            font-size: 1em;
        }

        #city{
            text-decoration: underline;
        }

        i{
            font-size: $grid-gutter;
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter-mobile;

            .cityBlock{
                margin-bottom: $grid-gutter;
                font-size: 1.3em;
            }
        }
    }

    .contactInfo{
        background-color: theme-color(yellow);
        display: flex;
        align-items: center;

        .email{
            font-size: 1.2em;
            margin-bottom: $grid-gutter;
        }

        a{
            display: block;
            color: $black;
            text-decoration: none;

            &:hover{
                color: $black;
                text-decoration: underline;
            }
        }    

        @include media-breakpoint-down(sm){
            .email{
                font-size: 1em;
                margin-bottom: $grid-gutter-mobile;
            }
        }
    }
}

@include media-breakpoint-down(sm){
    #contact{
        font-size: 20px;

        .locationInfo{
            i{
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }
}