article{
    header{
        padding: 100px 20px 200px;
        background-color: theme-color(yellow);
        color: $black;
        min-height: 100vh;
        animation: header-intro 2.5s .5 ease-out forwards;

        h1 a {
            font-size: .5em;
        }

        p{
            font-size: 1.2em;
        }

        .wrap{
            max-width: 800px;
            margin: auto;
        }
    }

    .entry-content{
        padding: 0 20px;
        max-width: 1040px;
        margin: -100px auto 100px;

        .media-block{
            margin-bottom: $grid-gutter;

            @include media-breakpoint-up(md){
                margin-bottom: $grid-gutter * 2;
            }

            &.image{
                img{
                    width: 100%;
                }

                .caption{
                    text-align: center;
                    margin-top: $grid-gutter;
                }
            }

            &.quote{
                padding: 50px;

                .wrap{
                    font-size: 30px;
                    color: $white;
                }
            }

            &.text{
                max-width: 800px;
                margin: auto;
            }

            &.gallery{
                .image{
                    margin-bottom: 50px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            &.websiteSpread{
                .content{
                    height: 800px;
                    overflow: hidden scroll;
                    border: 2px solid lightgrey;
                    position: relative;

                    @include media-breakpoint-down(sm){
                        height: 300px;
                    }

                    img{
                        width: 100%;
                    }

                    .header{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

            &.video{
                video{
                    width: 100%;
                    max-width: 100%;
                    max-height: 1000px;
                }
            }

            &.videotext{
                video{
                    width: 100%;
                    max-width: 100%;
                    max-height: 1000px;
                }

                .row{
                    .text{
                        margin-top: 20px;
                    }
                }

                @include media-breakpoint-up(md){
                    .row{
                        align-items: center;
    
                        .text{
                            margin-top: 0;
                        }
                    }
                    
                    &:nth-child(2n){
                        .row{
                            flex-direction: row-reverse;
                        }
                    }
                }
            }
        }
    }

    #postNav{
        text-align: center;
        font-size: 30px;
 
        .next,
        .prev{
            padding: 50px 20px;

            i{
                transition: .3s;
            }
        }

        .prev{
            text-align: right;
        }

        .next{
            text-align: left;
        }

        a{
            text-decoration: none;

            &:hover{
                color: inherit;

                i{
                    padding: 0 10px;
                }
            }

            .categories{
                font-size: .6em;
            }
        }
    }
}

.single{
    #contact .locationInfo{
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
}

@keyframes header-intro{
    from {
        min-height: 100vh;
    }
    to{
        min-height: 0px;
    }
}
