article{
    header{
        padding: 100px 20px 200px;
        background-color: theme-color('blue');
        color: $white;

        .wrap{
            max-width: 800px;
            margin: auto;
        }
    }

    .entry-content{
        padding: 0 20px;
        max-width: 1040px;
        margin: -100px auto 100px;

        .media-block{
            margin-bottom: 50px;

            &.image{
                img{
                    width: 100%;
                }

                .caption{
                    text-align: center;
                    margin-top: 5px;
                }
            }

            &.quote{
                padding: 50px;

                .wrap{
                    font-size: 30px;
                    color: $white;
                }
            }

            &.text{
                max-width: 800px;
                margin: auto;
            }

            &.gallery{
                .image{
                    margin-bottom: 50px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            &.websiteSpread{
                .content{
                    height: 800px;
                    overflow: hidden scroll;
                    border: 2px solid lightgrey;
                    position: relative;

                    img{
                        width: 100%;
                    }

                    .header{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }

            &.video{
                video{
                    width: 100%;
                    max-width: 100%;
                    max-height: 1000px;
                }
            }
        }
    }

    #postNav{
        text-align: center;
        color: $white;
        font-size: 30px;

        & > div{
            padding: 50px 20px;
        }

        a{
            text-decoration: none;

            &:hover{
                color: inherit;

                h3{
                    text-decoration: underline;
                }
            }

            .categories{
                font-size: .6em;
            }
        }
    }
}
